<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
</head>
<title>Download File</title>
  <h1>Download File</h1>
  <body class="body">
     <div class="container" align="left">
      <a href="/return-files/{{value}}" target="blank"><button class='btn btn-default'>Download</button></a>
     </div>
  </body>
</html>